//sets display area for 4  form areas on lower half of page
.formCard{
	display: flex;
	flex-wrap: wrap;
	padding: 0 .5rem;
}

//evenly divieds each box, 2 on top of 2 
.newMembers,
.recentActivity,
.messageUser,
{
	width: 100%;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	border-top: solid lightgrey;
	@include tablet{
		width: 50%;
	}
}

//extends last box to edge
.settings{
	flex: 1;
	padding: 1rem;
	display: flex;
}

.messageUser{
	@include tablet {
		border-top: 1.5px solid lightgrey;
	}

}

.messageUser:last-of-type{
	@include tablet { 
		border-left: 1.5px solid lightgrey;
	 }
}



.recentActivity{
	// border-top: none;
	// border-bottom: none;
	@include tablet{
			 border-left: 1.5px solid lightgrey;
	}
}

.email{
	font-size: 1.2rem;
	color: $purple;
	padding-top: .2rem;
}

.membercard{
	display: flex;
	color: grey;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.date{
	margin-left: auto;
	align-self: center;
	font-size: 1.2rem;
	color: dimgrey;
	padding-right: 1rem;
}

hr{
	color: lightgrey;
	radius: 50%;
}

.userImage{
	max-width: 4rem;
	max-height: 4rem;
	margin-right: 1rem;
	border-radius: 2rem;
	border: solid 2px #CCC;
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, .9);

}

.form{
	display: flex;
	flex-direction: column;
}

.messageheading{
	margin-bottom: 1rem;
	letter-spacing: .2rem;
}

.forminput{
	margin-bottom: 1rem;
	height: 4rem;
	border-radius: .5rem;
	border: solid lightgrey;
	&:focus{
		border: solid $header;
	}
	&::placeholder {
		font-size: 1.1rem;
	}

}

.send{
	padding: .4rem;
	background-color: $purple;
	color: white;
	border-radius: .6rem;
	flex:1 ;
	border-style: solid;
	font-size: 1.2rem;
	line-height: 4rem;
	// border-style: solid;
	&:hover{
		@include buttonHover;
	}
}

textarea{
	resize: vertical;
	height: 12.9rem;
	margin-bottom: 1rem;
	border-radius: .5rem;
	border: solid lightgrey;
	&:focus{
		border: solid $header;
	}
	&::placeholder{
		font-size: 1.2rem;
	}
}

//displays 2 buttons side by side, button styling
.timezoneButtons{
	display: flex;
}


.send1{
	flex: 2;
	padding: .4rem;
	background-color: $purple;
	color: white;
	border-radius: .5rem;
	flex:1 ;
	border-style: solid;
	font-size: 1.2rem;
	line-height: 4rem;
	&:hover{
		@include buttonHover;
	}
}

.send1:nth-of-type(2){
	background-color: darkgrey;
}


//inserting arrow down icon on timezone slection, not default
#select{
	// background: #F0F3FB;
	// border: 1px solid #F0F3FB;
	// border-radius: 4px;
	width: 100%;
	// padding: 20px;
	// font-size: 16px;
	// color: #3F3F3F;
	font-size: 1.1rem;
    border: solid lightgrey;
    border-radius: .5rem;
    background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right white;
    -webkit-appearance: none;
    background-position-x: 97%;
    &:focus{
		border: solid $header;
	}

}

//slide button stying, slider, positioning, etc.
.notification{
	font-size: 1.6rem;
	
	width: 100%;
	align-self: center;
	color: grey;
	@include tablet{
		width: 40%;
	}
}

.switch{
	margin-right: auto;
}

.toggle1{
	display: flex;
	margin-bottom: 3rem;
}


.switch{
  position: relative;
  display: block;
  width: 7.2rem;
  height: 3.3rem;
  @include tablet {
  	width: 6.5rem;
  	height: 3.9rem;
  }
}

.slider{
  position: absolute;
  cursor: pointer;
  top: 0;
  left: -1px;
  bottom: 0;
  right: 0;
  background: lightgrey;
  transition: 0.4s;
  border: 3px solid $purple;
}

.slider:before{
  position: absolute;
  content: "";
  // bottom: 14px;
  top: 5px;
  left: 0px;
  background-color: $purple;
  transition: 0.5s;
  
}

.switch .checkbox {
  display: none;
}

.checkbox:checked + .slider {
  background-color: $purple;
  border: 3px solid lightgrey;
}

.slider.round {
  border-radius: 35px;
  
}

.slider.round:before {
  width: 43%;
  height: 43%;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  transform: rotateZ(-45deg)
  
}


//checkbox slider off
.slider::before {
  font-family: $headerFont;
  content: "OFF";
  color: $sliders;
  font-size: .9rem;
  padding-left: .4rem;
  padding-top: .1rem;
  @include tablet {
  	 padding-left: .3rem;
 	 padding-top: .3rem;
  }
}

// checkbox slider on
.checkbox:checked + .slider::before{
  content: "ON";
  color: $purple; 
  font-family: $headerFont;
  padding-left: .6rem;
  padding-top: .1rem;
  font-size: 1rem;
  transform: translateX(34px) rotateZ(45deg);
  background-color: lightgrey;
    @include tablet {
  	padding-left: .6rem;
  	padding-top: .4rem;
  }

}



@keyframes slideup {
  0% {
    opacity: 0
  }
  
  100% {
    opacity: 1
  }
}

.slideMe {
  	animation: slideup 1s ease;
}

.messageFlex{
	display: flex;
	justify-content: space-between;
}

.successMessage{
	color: limegreen;
	display: none;
}

.requireMessage{
	color: red;
	opacity: 0;
}

.visable{
	display: block;
}